<!doctype html>
<html>

<head>
</head>

<body>

<h1>Chit Chat</h1>
<h2>Log In:</h2>
    <form method="post" action="/login">
        <input type="text" name="username" placeholder="User ID">
        <input type="password" name="password" placeholder="Password">

        <input type="submit" value="Log In">
    </form>
</body>
</html>